<div id="pagetitle">
  <div class="wrapper">
    <h1>企业管理</h1>
  </div>
</div>
<div id="page">
  <div class="wrapper">
    <section class="column width9 first">
      <h3>企业列表</h3>
      <div class="dataTables_filter">
        <%= link_to content_tag(:span, "", :class => "icon icon-add")+"添加新企业", new_enterprise_path, :class => "btn"%>
        <p/>
      </div>
      <table class="display stylized" id="example">
        <thead>
          <tr>
            <th width="20px">No.</th>
            <th width="120px">企业名称</th>
            <th width="60px">行业</th>
            <th width="100px">传真</th>
            <th width="100px">电话</th>
            <th>地址</th>
            <th width="120px">备注</th>
            <th width="120px">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @enterprises.each do |enterprise| %>
            <tr class="gradeA <%= cycle("even", "odd")%>">
              <td><%= enterprise.id %></td>
              <td><%= enterprise.title %></td>
              <td><%= enterprise.industry_id %></td>
              <td><%= enterprise.fax_num %></td>
              <td><%= enterprise.phone_num %></td>
              <td><%= enterprise.address %></td>
              <td><%= enterprise.remark %></td>
              <td>
                <%= link_to '详细', enterprise %>
                <%= link_to '编辑', edit_enterprise_path(enterprise) %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <div class="dataTables_filter">
        <%= link_to content_tag(:span, "", :class => "icon icon-add")+"添加新企业", new_enterprise_path, :class => "btn"%>
        <p/>
      </div>
      <div class="clear">&nbsp;</div>
    </section>
  </div>
</div>
<%= javascript_include_tag "administry.js" %>