<div id="pagetitle">
  <div class="wrapper">
    <h1>企业管理 → <span>添加企业信息</span></h1>
  </div>
</div>
<div id="page">
  <div class="wrapper">
    <%= form_for(@enterprise) do |f| %>
      <section class="column width3 first">
        <fieldset>
          <legend>企业信息</legend>
          <p>
            <%= f.label :title,"企业名称", :class => "required", :ACCESSKEY => "t"%><br/>
            <%= f.text_field :title%>&nbsp;<a href="#" class="btn btn-blue">验证重复</a>
          </p>
          <p class="required">
            <%= f.label :industry_id,"行业类别", :class => "required"  %><br/>
            <%= f.text_field :industry_id%>
          </p>
          <p class="required">
            <%= f.label :fax_num,"传真", :class => "required"  %><br/>
            <%= f.text_field :fax_num%>
          </p>
          <p class="required">
            <%= f.label :phone_num,"电话", :class => "required"  %><br/>
            <%= f.text_field :phone_num%>
          </p>
          <p class="required">
            <%= f.label :zip_code,"邮编", :class => "required"  %><br/>
            <%= f.text_field :zip_code%>
          </p>
          <p class="required">
            <%= f.label :mail,"E-mail", :class => "required"  %><br/>
            <%= f.text_field :mail%>
          </p>
          <p class="required">
            <%= f.label :site,"网址", :class => "required"  %><br/>
            <%= f.text_field :site%>
          </p>
          <p class="required">
            <%= f.label :qq %><br/>
            <%= f.text_field :qq%>
          </p>
        </fieldset>
      </section>
      <section class="column width3">
        <fieldset>
          <legend>企业所在地及地址</legend>
          <p>
            <%= f.label :province_id,"所在地", :class => "required"%><br/>
            <%= f.select :province_id, "<option value=\"0\">请选择</option>"%>
            <%= f.select :city_id, "<option value=\"0\">请选择</option>"%>
            <%= f.select :country_id, "<option value=\"0\">请选择</option>"%>
          </p>
          <p>
            <%= f.label :address,"地址", :class => "required"  %><br/>
            <%= f.text_field :address%>
          </p>
        </fieldset>
        <fieldset>
          <legend>企业产品信息</legend>
          <p class="required">
            <%= f.label :trademark, "商标" %><br/>
            <%= f.text_field :trademark%>
          </p>
          <p class="required">
            <%= f.label :product, "产品", :class => "required"  %><br/>
            <%= f.text_field :product%>
          </p>
          <p class="required">
            <%= f.label :introduction, "简介" %><br/>
            <%= f.text_area :introduction, :class => "small full"%>
          </p>
          <p class="required">
            <%= f.label :remark,"企业备注" %><br/>
            <%= f.text_area :remark, :class => "small full"%>
          </p>
        </fieldset>
        <fieldset>
          <legend>标签tagTo</legend>
          <p>
            <textarea id="tags" class="small full tagInput" name="tags"></textarea>
          </p>
          <p>
            <span class="label label-blue">Blue</span>
            <span class="label label-blue">标记一</span>
            <span class="label label-blue">标记一</span>
            <span class="label label-blue">标记一</span>
            <span class="label label-blue">标记一</span>
            <span class="label label-blue">标记一标记一标记一</span>
            <span class="label label-red">已标记</span>
            <span class="label label-blue">Blue</span>
            <span class="label label-blue">Blue</span>
            <span class="label label-green">已标记</span>
            <span class="label label-blue">Blue</span>
          </p>
        </fieldset>
      </section>
      <section class="column width3">
        <fieldset>
          <legend>企业联系人</legend>
          <% @enterprise.content_persons.build %>
          <%=f.fields_for :content_persons do |content_person|%>
            <p>
              <%= content_person.label :name, "联系人姓名："%><br/>
              <%= content_person.text_field :name%>
            </p>
            <p>
              <%= content_person.label :position, "职务："%><br/>
              <%= content_person.text_field :position%>
            </p>
            <p>
              <%= content_person.label :phone_num, "联系电话："%><br/>
              <%= content_person.text_field :phone_num%>
            </p>
            <p>
              <%= content_person.label :fax_num, "传真："%><br/>
              <%= content_person.text_field :fax_num%>
            </p>
            <p>
              <%= content_person.label :mail, "邮箱："%><br/>
              <%= content_person.text_field :mail%>
            </p>
            <p>
              <%= content_person.label :address, "地址："%><br/>
              <%= content_person.text_field :address%>
            </p>
            <p>
              <%= content_person.label :zip_code, "邮编："%><br/>
              <%= content_person.text_field :zip_code%>
            </p>
            <p>
              <%= content_person.label :remark, "备注："%><br/>
              <%= content_person.text_field :remark%>
            </p>
          <%end%>
        </fieldset>
        <fieldset>
          <legend>操作</legend>
          <p>
            <%= f.submit "确认添加该企业", :class => "btn btn-green big"%>
            <%= f.submit "放弃并返回", :class => "btn btn-red big"%>
          </p>
        </fieldset>
      </section>
      <section class="column width2"></section>
    <%end%>
  </div>
</div>
<script language="javascript">
  window.mulSelectData = '<%= OaUtil.address_data %>';
  var mulSelects = [];
  var mulSelect = $(document).multilevelSelect({
    data : jQuery.parseJSON(window.mulSelectData),
    selects : ['#enterprise_province_id','#enterprise_city_id','#enterprise_country_id']
  });
  mulSelects.push(mulSelect);
</script>