<p id="notice"><%= notice %></p>

<p>
  <b>Admin:</b>
  <%= @enterprise.admin_id %>
</p>

<p>
  <b>Title:</b>
  <%= @enterprise.title %>
</p>

<p>
  <b>Industry:</b>
  <%= @enterprise.industry_id %>
</p>

<p>
  <b>Fax num:</b>
  <%= @enterprise.fax_num %>
</p>

<p>
  <b>Phone num:</b>
  <%= @enterprise.phone_num %>
</p>

<p>
  <b>Address:</b>
  <%= @enterprise.address %>
</p>

<p>
  <b>Zip code:</b>
  <%= @enterprise.zip_code %>
</p>

<p>
  <b>Mail:</b>
  <%= @enterprise.mail %>
</p>

<p>
  <b>Site:</b>
  <%= @enterprise.site %>
</p>

<p>
  <b>Qq:</b>
  <%= @enterprise.qq %>
</p>

<p>
  <b>Remark:</b>
  <%= @enterprise.remark %>
</p>

<p>
  <b>Trademark:</b>
  <%= @enterprise.trademark %>
</p>

<p>
  <b>Product:</b>
  <%= @enterprise.product %>
</p>

<p>
  <b>Introduction:</b>
  <%= @enterprise.introduction %>
</p>


<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
