<header id="top">
  <div class="wrapper">
    <div id="title">
      <%=image_tag "logo.png"%>
    </div>
    <div id="topnav">
      <a href="#">
        <%=image_tag "user_32.png", :class => "avatar"%></a>
				欢迎您登陆<b>孙博</b>
      <span>|</span> <a href="#">个人设置</a>
      <span>|</span> <a href="#">退出系统</a><br />
      <small>You have <a href="#" class="high"><b>0</b> new message!</a></small>
    </div>
    <!-- End of Top navigation -->
    <!-- Main navigation -->
    <nav id="menu">
      <ul class="sf-menu">
        <li><a HREF="dashboard.html">控制面板</a></li>
        <li class="<%= "current" if controller_name == "enterprises" %>">
          <%=link_to "企业管理", enterprises_path%>
          <ul>
            <li><%=link_to "企业管理", enterprises_path%></li>
            <li><a HREF="#">企业联系人管理</a></li>
          </ul>
        </li>
        <li>
          <a HREF="styles.html">会议管理</a>
          <ul>
            <li>
              <a HREF="styles.html">Basic Styles</a>
            </li>
            <li>
              <a href="#">Sample Pages...</a>
              <ul>
                <li><a HREF="samples-files.html">Files</a></li>
                <li><a HREF="samples-products.html">Products</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="<%= "current" if controller_name == "conferences" %>">
          <%= link_to "会议管理", conferences_path %>
        </li>
        <li><a HREF="#">管理员管理</a></li>
      </ul>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside><b>中文</b> &middot; <a href="#">English</a></aside>
    <!-- End of Aside links -->
  </div>
</header>