<tr>
  <td><%=content_people_tr.name%></td>
  <td><%=content_people_tr.sex%></td>
  <td><%=content_people_tr.position%></td>
  <td><%=content_people_tr.phone_num%></td>
  <td><%=content_people_tr.fax_num%></td>
  <td><%=content_people_tr.mail%></td>
  <td><%=content_people_tr.address%></td>
  <td><%=content_people_tr.remark%></td>
  <td>
    <%= link_to "详细信息" %>
    <%= link_to "编辑" %>
    <%= link_to "删除" %>
  </td>
</tr>